USE [VLAGrupo1]
GO
/****** Object:  User [Grupo1Vla2021_SQLLogin_1]    Script Date: 09/25/2021 8:48:03 p. m. ******/
CREATE USER [Grupo1Vla2021_SQLLogin_1] FOR LOGIN [Grupo1Vla2021_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Grupo1Vla2021_SQLLogin_1]
GO
/****** Object:  Schema [Grupo1Vla2021_SQLLogin_1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
CREATE SCHEMA [Grupo1Vla2021_SQLLogin_1]
GO
/****** Object:  UserDefinedFunction [dbo].[FNObtenerPrestamo]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNObtenerPrestamo](@nombre varchar(50))

  RETURNS @PRESTAMOS_SOLICITADOS TABLE
  (
  IdEstudiante INT PRIMARY KEY NOT NULL,
  NOMBRE_ESTUDIANTE VARCHAR(50)

  )
  --DEFINIR SENTENCIA
  BEGIN 
  INSERT INTO @PRESTAMOS_SOLICITADOS
  SELECT A.IdLector,B.NOMBRE FROM PRESTAMO A
  INNER JOIN ESTUDIANTE B ON A.IdLector=B.IdLector
  RETURN

  END;
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP](
	[EMPLEADO_NO] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[APELLIDO] [varchar](25) NULL,
	[DIRECCION] [varchar](25) NULL,
	[FECHA_ALT] [datetime] NULL,
	[SALARIO] [int] NULL,
	[COMISION] [int] NULL,
	[DEPT_NO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLEADO_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EJERCICIO11_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Mostrar aquellos empleados con fecha de alta posterior al 1 de Julio de 1985>
-- =============================================
CREATE VIEW [dbo].[EJERCICIO11_HOSPITAL]
AS
   SELECT * FROM EMP
    WHERE FECHA_ALT > '01-07-1985' 
GO
/****** Object:  Table [dbo].[PLANTILLA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTILLA](
	[ID_PLANTILLA] [int] IDENTITY(0,1) NOT NULL,
	[HOSPITAL_COD] [int] NULL,
	[SALA_COD] [int] NULL,
	[EMPLEADO_NO] [int] NULL,
	[NOMBRE] [varchar](25) NULL,
	[APELLIDO] [varchar](25) NULL,
	[FUNCION] [varchar](25) NULL,
	[TURNO] [varchar](25) NULL,
	[SALARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLANTILLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EJERCICIO12_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Mostrar aquellos empleados con fecha de alta posterior al 1 de Julio de 1985>
-- =============================================
CREATE VIEW [dbo].[EJERCICIO12_HOSPITAL]
AS
select * FROM PLANTILLA W
WHERE TURNO='M'

GO
/****** Object:  View [dbo].[EJERCICIO13_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EJERCICIO13_HOSPITAL]
as
select * from plantilla
where TURNO='M' AND SALARIO BETWEEN 20000 AND 225000
GO
/****** Object:  Table [dbo].[DEPT]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[DEPT_NO] [int] IDENTITY(0,1) NOT NULL,
	[DNOMBRE] [varchar](25) NULL,
	[LOC] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EJERCICIO14_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EJERCICIO14_HOSPITAL]
as
SELECT DNOMBRE,LOC
FROM DEPT
WHERE LOC = 'MADRID' OR 
LOC = 'BARCELONA'

GO
/****** Object:  View [dbo].[EJERCICIO15_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EJERCICIO15_HOSPITAL]
as
select B.DNOMBRE,A.DEPT_NO,A.APELLIDO ,A.FECHA_ALT FROM EMP A
INNER JOIN  DEPT B ON A.DEPT_NO=B.DEPT_NO
WHERE APELLIDO LIKE '%Z'
--ORDER BY A.FECHA_ALT

GO
/****** Object:  View [dbo].[EJERCICIO16_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EJERCICIO16_HOSPITAL]
as
SELECT B.EMPLEADO_NO,A.NOMBRE,A.FUNCION AS OFICIO
FROM PLANTILLA A
inner join EMP B ON A.EMPLEADO_NO=B.EMPLEADO_NO
WHERE A.FUNCION<>'ANALISTA'

GO
/****** Object:  View [dbo].[EJERCICIO17_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EJERCICIO17_HOSPITAL]
AS
SELECT EMPLEADO_NO,NOMBRE,APELLIDO,FUNCION AS OFICIO FROM PLANTILLA
WHERE FUNCION <> 'ANALISTA' 
GO
/****** Object:  Table [dbo].[CARGA_FAMI]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGA_FAMI](
	[ID_CARGA_FAMI] [int] IDENTITY(0,1) NOT NULL,
	[EMP_RUT] [int] NULL,
	[NOMBRE_CARGA] [varchar](20) NOT NULL,
	[SEXO] [varchar](25) NOT NULL,
	[FECHA_NAC] [datetime] NOT NULL,
	[PARENTEZCO] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARGA_FAMI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGA_FAMILIA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGA_FAMILIA](
	[ID_C_FAMILIA] [int] IDENTITY(1,1) NOT NULL,
	[RUD_EMP] [int] NOT NULL,
	[NOMBRE_CARGA] [varchar](50) NOT NULL,
	[SEXO] [bit] NOT NULL,
	[FECHA_NAC] [smalldatetime] NOT NULL,
	[PARENTEZCO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_C_FAMILIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Control_Trigger]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Control_Trigger](
	[EMPLEADO_NO] [int] NULL,
	[USUARIO] [varchar](20) NULL,
	[FECHA] [datetime] NULL,
	[OPERACION] [varchar](15) NULL,
	[HORA] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[DEPTO_NUM] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[RUT_GERENTE] [varchar](50) NULL,
	[GERENTE_F_INIC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPTO_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTOR_NO] [int] IDENTITY(0,1) NOT NULL,
	[HOSPITAL_COD] [int] NULL,
	[NOMBRE] [varchar](25) NULL,
	[APELLIDO] [varchar](25) NULL,
	[ESPECIALIDAD] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTOR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[EMP_RUT] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PR_APELLIDO] [varchar](50) NOT NULL,
	[SEG_APELLIDO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[DIRECCION] [varchar](70) NOT NULL,
	[SEXO] [varchar](10) NULL,
	[SUELDO] [int] NULL,
	[RUT_SUPERVISOR] [varchar](25) NULL,
	[DEPTO_NUM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFERMO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFERMO](
	[ID_ENFERMO] [int] IDENTITY(0,1) NOT NULL,
	[INSCRIPCION] [int] NULL,
	[NOMBRE] [varchar](25) NULL,
	[APELLIDO] [varchar](25) NULL,
	[DIRECCION] [varchar](25) NULL,
	[SEXO] [varchar](1) NULL,
	[NSS] [int] NULL,
	[DEPT_NO] [int] NULL,
	[FECHA_NAC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENFERMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPO](
	[EQUIPO_ID] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[ESTADIO_ID] [int] NULL,
	[F_FUNDACION] [int] NULL,
	[DIRECCION] [varchar](25) NULL,
	[INDUMENTARIA_OFICIAL] [varchar](25) NULL,
	[INDUMENTARIA_ALTERNATIVA] [varchar](25) NULL,
	[PRESIDENTE] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[EQUIPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADIO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADIO](
	[ESTADIO_ID] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[DIRECCION] [varchar](25) NULL,
	[COMUNA] [varchar](25) NULL,
	[AFORO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ESTADIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOL](
	[COD_GOL] [int] IDENTITY(0,1) NOT NULL,
	[MINUTO] [varchar](25) NULL,
	[COD_JUGADOR] [int] NULL,
	[COD_PARTIDO] [int] NULL,
	[DESCRIPCION] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_GOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historica_Estadio]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historica_Estadio](
	[ESTADIO_ID] [int] NULL,
	[FECHA] [datetime] NULL,
	[DESCRIPCION] [varchar](25) NULL,
	[USUARIO] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historica_Sala]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historica_Sala](
	[Fecha] [date] NULL,
	[SALA_COD] [int] NULL,
	[HOSPITAL_COD] [int] NULL,
	[NUM_CAMA] [int] NULL,
	[Descripcion] [varchar](25) NULL,
	[Usuario] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[HOSPITAL_COD] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](25) NULL,
	[DIRECCION] [varchar](25) NULL,
	[TELEFONO] [int] NULL,
	[NUM_CAMA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADOR](
	[COD_JUGADOR] [int] IDENTITY(0,1) NOT NULL,
	[COD_INSCRIPCION] [varchar](25) NULL,
	[NOMBRE] [varchar](25) NULL,
	[APELLIDO1] [varchar](25) NULL,
	[APELLIDO2] [varchar](25) NULL,
	[VALOR_PASE] [int] NULL,
	[EQUIPO_ID] [int] NULL,
	[NACIONALIDAD] [varchar](25) NULL,
	[F_NACIMIENTO] [datetime] NULL,
	[POSICION] [varchar](25) NULL,
	[EDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_JUGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO](
	[COD_PARTIDO] [int] IDENTITY(0,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[ASISTENACIA] [varchar](25) NULL,
	[ARBITRO] [varchar](25) NULL,
	[GUARDALINEA1] [varchar](25) NULL,
	[GUARDALINEA2] [varchar](25) NULL,
	[ARBITRO_ASISTENTE] [varchar](25) NULL,
	[GOLES_LOCAL] [int] NULL,
	[GOLES_VISITA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[PROYECT_NUM] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[UBICACION] [varchar](80) NOT NULL,
	[DEPTO_NUM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROYECT_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALA](
	[SALA_COD] [int] IDENTITY(0,1) NOT NULL,
	[HOSPITAL_COD] [int] NULL,
	[NOMBRE] [varchar](25) NULL,
	[NUM_CAMA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SALA_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SE_JUEGA_EN]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SE_JUEGA_EN](
	[JUEGO_ID] [int] IDENTITY(0,1) NOT NULL,
	[EQUIPO_ID] [int] NULL,
	[COD_PARTIDO] [int] NULL,
	[ESTADIO_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JUEGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRABAJA_EN]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJA_EN](
	[ID_TRABAJA_EN] [int] IDENTITY(0,1) NOT NULL,
	[EMP_RUT] [int] NULL,
	[PROYECT_NUM] [int] NULL,
	[HORAS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRABAJA_EN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACION_DEP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION_DEP](
	[NUM_DEP] [int] IDENTITY(1,1) NOT NULL,
	[UBICACION] [varchar](70) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACIONES_DEPARTAMENTO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACIONES_DEPARTAMENTO](
	[ID_UBI] [int] IDENTITY(0,1) NOT NULL,
	[DEPTO_NUM] [int] NULL,
	[UBICACION] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UBI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARGA_FAMI]  WITH CHECK ADD FOREIGN KEY([EMP_RUT])
REFERENCES [dbo].[EMPLEADO] ([EMP_RUT])
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[EMP]  WITH CHECK ADD FOREIGN KEY([DEPT_NO])
REFERENCES [dbo].[DEPT] ([DEPT_NO])
GO
ALTER TABLE [dbo].[EMP]  WITH CHECK ADD FOREIGN KEY([DEPT_NO])
REFERENCES [dbo].[DEPT] ([DEPT_NO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([DEPTO_NUM])
REFERENCES [dbo].[DEPARTAMENTO] ([DEPTO_NUM])
GO
ALTER TABLE [dbo].[ENFERMO]  WITH CHECK ADD FOREIGN KEY([DEPT_NO])
REFERENCES [dbo].[DEPT] ([DEPT_NO])
GO
ALTER TABLE [dbo].[ENFERMO]  WITH CHECK ADD FOREIGN KEY([DEPT_NO])
REFERENCES [dbo].[DEPT] ([DEPT_NO])
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD FOREIGN KEY([ESTADIO_ID])
REFERENCES [dbo].[ESTADIO] ([ESTADIO_ID])
GO
ALTER TABLE [dbo].[EQUIPO]  WITH CHECK ADD FOREIGN KEY([ESTADIO_ID])
REFERENCES [dbo].[ESTADIO] ([ESTADIO_ID])
GO
ALTER TABLE [dbo].[GOL]  WITH CHECK ADD FOREIGN KEY([COD_JUGADOR])
REFERENCES [dbo].[JUGADOR] ([COD_JUGADOR])
GO
ALTER TABLE [dbo].[GOL]  WITH CHECK ADD FOREIGN KEY([COD_JUGADOR])
REFERENCES [dbo].[JUGADOR] ([COD_JUGADOR])
GO
ALTER TABLE [dbo].[GOL]  WITH CHECK ADD FOREIGN KEY([COD_PARTIDO])
REFERENCES [dbo].[PARTIDO] ([COD_PARTIDO])
GO
ALTER TABLE [dbo].[GOL]  WITH CHECK ADD FOREIGN KEY([COD_PARTIDO])
REFERENCES [dbo].[PARTIDO] ([COD_PARTIDO])
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD FOREIGN KEY([EMPLEADO_NO])
REFERENCES [dbo].[EMP] ([EMPLEADO_NO])
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD FOREIGN KEY([EMPLEADO_NO])
REFERENCES [dbo].[EMP] ([EMPLEADO_NO])
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD FOREIGN KEY([SALA_COD])
REFERENCES [dbo].[SALA] ([SALA_COD])
GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD FOREIGN KEY([SALA_COD])
REFERENCES [dbo].[SALA] ([SALA_COD])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([DEPTO_NUM])
REFERENCES [dbo].[DEPARTAMENTO] ([DEPTO_NUM])
GO
ALTER TABLE [dbo].[SALA]  WITH CHECK ADD FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[SALA]  WITH CHECK ADD FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
GO
ALTER TABLE [dbo].[SE_JUEGA_EN]  WITH CHECK ADD FOREIGN KEY([COD_PARTIDO])
REFERENCES [dbo].[PARTIDO] ([COD_PARTIDO])
GO
ALTER TABLE [dbo].[SE_JUEGA_EN]  WITH CHECK ADD FOREIGN KEY([COD_PARTIDO])
REFERENCES [dbo].[PARTIDO] ([COD_PARTIDO])
GO
ALTER TABLE [dbo].[SE_JUEGA_EN]  WITH CHECK ADD FOREIGN KEY([EQUIPO_ID])
REFERENCES [dbo].[EQUIPO] ([EQUIPO_ID])
GO
ALTER TABLE [dbo].[SE_JUEGA_EN]  WITH CHECK ADD FOREIGN KEY([EQUIPO_ID])
REFERENCES [dbo].[EQUIPO] ([EQUIPO_ID])
GO
ALTER TABLE [dbo].[SE_JUEGA_EN]  WITH CHECK ADD FOREIGN KEY([ESTADIO_ID])
REFERENCES [dbo].[ESTADIO] ([ESTADIO_ID])
GO
ALTER TABLE [dbo].[SE_JUEGA_EN]  WITH CHECK ADD FOREIGN KEY([ESTADIO_ID])
REFERENCES [dbo].[ESTADIO] ([ESTADIO_ID])
GO
ALTER TABLE [dbo].[TRABAJA_EN]  WITH CHECK ADD FOREIGN KEY([EMP_RUT])
REFERENCES [dbo].[EMPLEADO] ([EMP_RUT])
GO
ALTER TABLE [dbo].[TRABAJA_EN]  WITH CHECK ADD FOREIGN KEY([PROYECT_NUM])
REFERENCES [dbo].[PROYECTO] ([PROYECT_NUM])
GO
ALTER TABLE [dbo].[UBICACIONES_DEPARTAMENTO]  WITH CHECK ADD FOREIGN KEY([DEPTO_NUM])
REFERENCES [dbo].[DEPARTAMENTO] ([DEPTO_NUM])
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_EQUIPO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_EQUIPO]
@ID_EQUIPO INT,
@NOMBRE VARCHAR (50),
@ESTADIO VARCHAR (50),
@DIRECCION VARCHAR (70),
@INDUMENTARIA_OFICIAL VARCHAR (50),
@INDUMENTARIA_ALTERNATIVA VARCHAR (50),
@PRESIDENTE VARCHAR (50)
AS
UPDATE EQUIPO SET
NOMBRE=@NOMBRE,
ESTADIO=@ESTADIO,
DIRECCION=@DIRECCION,
INDUMENTARIA_OFICIAL=@INDUMENTARIA_OFICIAL,
INDUMENTARIA_ALTERNATIVA=@INDUMENTARIA_ALTERNATIVA,
PRESIDENTE=@PRESIDENTE

WHERE ID_EQUIPO=@ID_EQUIPO
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_ESTADIO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_ESTADIO]
@ID_ESTADIO INT,
@NOMBRE VARCHAR (50),
@COMUNA VARCHAR (30),
@AFORO INT 
AS 
UPDATE ESTADIO SET
NOMBRE = @NOMBRE,
COMUNA=@COMUNA,
AFORO=@AFORO
WHERE ID_ESTADIO =@ID_ESTADIO
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_GOL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_GOL]
@ID_GOL INT,
@MINUTO TIME,
@COD_JUGADOR VARCHAR (50),
@COD_PARTIDO VARCHAR (50),
@DESCRIPCION TEXT
AS
UPDATE GOL SET 
MINUTO=@MINUTO,
COD_JUGADOR=@COD_JUGADOR,
COD_PARTIDO=@COD_PARTIDO,
DESCRIPCION=@DESCRIPCION
GO
/****** Object:  StoredProcedure [dbo].[DELETE_JUGADOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_JUGADOR] 
@ID_JUGADOR INT 
AS 
DELETE FROM JUGADOR
WHERE ID_JUGADOR=@ID_JUGADOR
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_EQUIPO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_EQUIPO]
@ID_EQUIPO INT
AS
DELETE FROM EQUIPO 
WHERE ID_EQUIPO = @ID_EQUIPO
GO
/****** Object:  StoredProcedure [dbo].[INSERT_EQUIPO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_EQUIPO]
@NOMBRE VARCHAR (50),
@ESTADIO VARCHAR (50),
@DIRECCION VARCHAR (70),
@INDUMENTARIA_OFICIAL VARCHAR (50),
@INDUMENTARIA_ALTERNATIVA VARCHAR (50),
@PRESIDENTE VARCHAR (50)
AS
INSERT INTO EQUIPO
(NOMBRE,ESTADIO,DIRECCION,INDUMENTARIA_OFICIAL,INDUMENTARIA_ALTERNATIVA,PRESIDENTE)VALUES 
(@NOMBRE,@ESTADIO,@DIRECCION,@INDUMENTARIA_OFICIAL,@INDUMENTARIA_ALTERNATIVA,@PRESIDENTE)
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ESTADIO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_ESTADIO] 
@NOMBRE VARCHAR (50),
@COMUNA VARCHAR (30),
@AFORO INT 
AS 
INSERT INTO ESTADIO 
(NOMBRE,COMUNA,AFORO) VALUES 
(@NOMBRE,@COMUNA,@AFORO)
GO
/****** Object:  StoredProcedure [dbo].[SELEC_JUGADOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELEC_JUGADOR] 
@ID_JUGADOR INT
AS 
SELECT *
FROM JUGADOR
WHERE ID_JUGADOR=@ID_JUGADOR
GO
/****** Object:  StoredProcedure [dbo].[SELECT_EQUIPO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_EQUIPO]
@ID_EQUIPO INT 
AS
SELECT * FROM EQUIPO 
WHERE ID_EQUIPO =@ID_EQUIPO
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_JUEGO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_JUEGO]
@ID_EQUIPO INT,
@ID_PARTIDO INT ,
@ESTADIO VARCHAR (30)
AS 
UPDATE SE_JUEGA_EN SET
ID_PARTIDO =@ID_PARTIDO,
ESTADIO=@ESTADIO

WHERE ID_EQUIPO =@ID_EQUIPO
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_JUGADOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_JUGADOR]
@ID_JUGADOR INT,
@DOD_INSCRIPCION INT,
@NOMBRE VARCHAR (50),
@PRI_APELLIDO VARCHAR (50),
@SEG_APELLIDO VARCHAR (50),
@VALOR_PASE INT,
@EQUIPO VARCHAR (30),
@NACIONALIDAD VARCHAR (50),
@F_NACIMIENTO DATE,
@POSICION VARCHAR (30)
AS 
UPDATE JUGADOR SET
DOD_INSCRIPCION =@DOD_INSCRIPCION ,
NOMBRE = @NOMBRE,
PRI_APELLIDO=@PRI_APELLIDO,
SEG_APELLIDO=@SEG_APELLIDO,
VALOR_PASE=@VALOR_PASE,
EQUIPO=@EQUIPO,
NACIONALIDAD=@NACIONALIDAD,
F_NACIMIENTO=@F_NACIMIENTO,
POSICION=@POSICION

WHERE ID_JUGADOR =@ID_JUGADOR 
GO
/****** Object:  StoredProcedure [dbo].[SP_BDA_EMPLEADO_EJE1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SP_BDA_EMPLEADO_EJE1]

@NOMBRE_DEP VARCHAR(25)
AS 
BEGIN TRY

select B.DEPTO_NUM,A.NOMBRE,A.PR_APELLIDO,B.NOMBRE
FROM EMPLEADO AS A 
inner join DEPARTAMENTO AS B
ON A.DEPTO_NUM =B.DEPTO_NUM
WHERE B.NOMBRE = @NOMBRE_DEP

END TRY 
BEGIN CATCH
SELECT
	ERROR_NUMBER() AS ErrorNumber,
    ERROR_STATE() AS ErrorState,
    ERROR_SEVERITY() AS ErrorSeverity,
    ERROR_PROCEDURE() AS ErrorProcedure,
    ERROR_LINE() AS ErrorLine,
    ERROR_MESSAGE() AS ErrorMessage;
	
END CATCH;

GO
/****** Object:  StoredProcedure [dbo].[SP_BDA_EMPLEADO_EJE2]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_BDA_EMPLEADO_EJE2]
@EMP_RUT INT


AS 
BEGIN TRY
SELECT COUNT (A.EMP_RUT) AS NUM_CARGA_FAMI , B.NOMBRE
FROM CARGA_FAMI A
INNER JOIN EMPLEADO B ON A.EMP_RUT=B.EMP_RUT
WHERE A.EMP_RUT=@EMP_RUT
GROUP BY B.NOMBRE



END TRY 
BEGIN CATCH
SELECT
	ERROR_NUMBER() AS ErrorNumber,
    ERROR_STATE() AS ErrorState,
    ERROR_SEVERITY() AS ErrorSeverity,
    ERROR_PROCEDURE() AS ErrorProcedure,
    ERROR_LINE() AS ErrorLine,
    ERROR_MESSAGE() AS ErrorMessage;
	
END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[SP_BDA_EMPLEADO_EJE3]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_BDA_EMPLEADO_EJE3]
@PR_APELLIDO VARCHAR (25),
@SG_APELLIDO VARCHAR(25)

AS 
BEGIN TRY

SELECT DISTINCT  A.PROYECT_NUM AS NOMBRE_DEL_PROYECTO,C.NOMBRE DEPARTAMENTO,B.NOMBRE,B.PR_APELLIDO,B.SEG_APELLIDO FROM PROYECTO A
INNER JOIN EMPLEADO B ON A.DEPTO_NUM=B.DEPTO_NUM
INNER JOIN DEPARTAMENTO C ON A.DEPTO_NUM=B.DEPTO_NUM
WHERE B.PR_APELLIDO=@PR_APELLIDO OR B.SEG_APELLIDO=@SG_APELLIDO

END TRY 
BEGIN CATCH
SELECT
	ERROR_NUMBER() AS ErrorNumber,
    ERROR_STATE() AS ErrorState,
    ERROR_SEVERITY() AS ErrorSeverity,
    ERROR_PROCEDURE() AS ErrorProcedure,
    ERROR_LINE() AS ErrorLine,
    ERROR_MESSAGE() AS ErrorMessage;
	
END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[SP_BDA_EMPLEADO_EJE4]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_BDA_EMPLEADO_EJE4]
@SUELDO INT
AS 
BEGIN TRY

SELECT A.NOMBRE DEPARTAMENTO,B.NOMBRE EMPLEADO,B.SUELDO FROM DEPARTAMENTO A
INNER JOIN EMPLEADO B ON A.DEPTO_NUM=B.DEPTO_NUM
WHERE B.SUELDO >= @SUELDO


END TRY 
BEGIN CATCH
SELECT
	ERROR_NUMBER() AS ErrorNumber,
    ERROR_STATE() AS ErrorState,
    ERROR_SEVERITY() AS ErrorSeverity,
    ERROR_PROCEDURE() AS ErrorProcedure,
    ERROR_LINE() AS ErrorLine,
    ERROR_MESSAGE() AS ErrorMessage;
	
END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_JUEGO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_JUEGO] 
@ID_EQUIPO INT
AS
DELETE FROM SE_JUEGA_EN
WHERE ID_EQUIPO =@ID_EQUIPO
GO
/****** Object:  StoredProcedure [dbo].[SP_EJER_6_CAMPEONATO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	<8. Realizar una reporte dinámico que filtre toda la información de un equipo por nombre del estadio>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EJER_6_CAMPEONATO]
@NOMBRE_ESTADIO VARCHAR(25)


AS
BEGIN

BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT A.NOMBRE,A.ESTADIO_ID,B.NOMBRE AS ESTADIO FROM EQUIPO A
	INNER JOIN ESTADIO B ON A.ESTADIO_ID=B.ESTADIO_ID
	WHERE B.NOMBRE=@NOMBRE_ESTADIO
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 



ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EJER_9_CAMPEONATO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ
-- Create date: <FECHA 15/09/2021>
-- Description:	<9. Realizar una reporte dinámico que busque la información del jugador de un jugador dinámicamente>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EJER_9_CAMPEONATO]
@COD_JUGADOR INT


AS
BEGIN

BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT A.*  FROM JUGADOR A
	WHERE A.COD_JUGADOR=@COD_JUGADOR 
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 



ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO1_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<qué empleados eliminariamos si quitasemos los departamentos 10 y 30 y cúales se mantendrían.>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EJERCICIO1_HOSP]
@DEP1 INT,
@DEP2 INT
	
AS
BEGIN

BEGIN TRY --PAN DE ARRIBA
	SET NOCOUNT ON;
	
	SELECT DEPT_NO AS DEPT_ELIMINADOS ,NOMBRE,APELLIDO  FROM EMP
	WHERE DEPT_NO= @DEP1 OR DEPT_NO=@DEP2
	   (SELECT DEPT_NO AS DEPT_RESTANTES ,NOMBRE,APELLIDO FROM EMP
    WHERE DEPT_NO!=10 AND DEPT_NO!=30 )             

END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP
  
GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO18_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:>Mostrar todos los enfermos nacidos antes de 1970.
-- =============================================


CREATE  PROCEDURE [dbo].[SP_EJERCICIO18_HOSP]
 @FECHA_NAC DATETIME
	
AS
BEGIN
BEGIN TRY --PAN DE ARRIBA
	
	SET NOCOUNT ON;
SELECT NOMBRE, APELLIDO ,FECHA_NAC FROM ENFERMO WHERE FECHA_NAC =@FECHA_NAC
    
END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR
END CATCH


END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO19_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	Mostrar todas las salas para el hospital 45>
-- =============================================


CREATE PROCEDURE [dbo].[SP_EJERCICIO19_HOSP]
 @HOSPITAL_COD INT
	
AS
BEGIN
BEGIN TRY
	
	SET NOCOUNT ON;
SELECT * FROM SALA WHERE HOSPITAL_COD = @HOSPITAL_COD


END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO2_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP Cuando el salario sea menor de 100000, Subiremos sueldo, cuando esté entre
--100000 y 250000 lo mantendremos y cuando sea superior, lo bajaremos.>
-- =============================================


CREATE PROCEDURE [dbo].[SP_EJERCICIO2_HOSP]
 @EMPLEADO_NO INT
	
AS
BEGIN

BEGIN TRY --PAN DE ARRIBA
	SET NOCOUNT ON;
	SELECT APELLIDO,SALARIO,
CASE
WHEN SALARIO <=100000 THEN  'LE SUBIREMOS EL SALARIO'
WHEN SALARIO BETWEEN 100000 AND 250000  THEN  'LES MANTENDREMOS EL SALARIO'

ELSE 'LE BAJAREMOS EL SALARIO'
END
FROM PLANTILLA
WHERE EMPLEADO_NO=@EMPLEADO_NO
    

END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP

GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO3_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA DEPT>
-- =============================================


CREATE PROCEDURE [dbo].[SP_EJERCICIO3_HOSP]
 @EMPLEADO_NO INT
	
AS
BEGIN
BEGIN TRY --PAN DE ARRIBA
	SET NOCOUNT ON;
	SELECT NOMBRE,APELLIDO,TURNO
	FROM PLANTILLA
  WHERE EMPLEADO_NO=@EMPLEADO_NO
    

END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO4_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<EJERCICIO 4 Y 5>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EJERCICIO4_HOSP]
@LOC VARCHAR (25)
AS
BEGIN
BEGIN TRY --PAN DE ARRIBA	
	SET NOCOUNT ON;
	
				SELECT count(*)AS NUM_EMPLEADOS_QUE_CAMBIARAN_DE_LOCALIDAD,DNOMBRE AS DEPARTAMENTO 
				FROM EMP A
				INNER  JOIN DEPT B ON
				A.DEPT_NO = B.DEPT_NO
				WHERE B.LOC= @LOC
				GROUP BY DNOMBRE;
				(SELECT COUNT(EMPLEADO_NO) AS CANTIDAD_EMPLEADOS_SIN_MOVERSE FROM EMP
                  WHERE DEPT_NO !=1 OR DEPT_NO !=4)
    

END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EJERCICIO6_HOSP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,William RODRIGUEZ
-- Create date: <Create Date,10/9/2021>
-- Description:	<#6-Crear un procedimiento para insertar un empleado de la plantilla del
--Hospital. Para poder insertar el empleado realizaremos restricciones:
-- No podrá estar repetido el número de empleado.--Para insertar, lo haremos por el nombre del hospital y por el nombre
--de sala, si no existe la sala o el hospital, no insertaremos y lo
--informaremos.
--El oficio para insertar deberá estar entre los que hay en la base de
--datos, al igual que el Turno.
--El salario no superará las 500.000 ptas.
--(Opcional) Podremos insertar por el código del hospital o sala y por
--su nombre>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EJERCICIO6_HOSP]

@HOSPITAL INT
,@SALA INT 
,@EMPLEADO INT
,@APELLIDO NVARCHAR(30)
,@FUNCION NVARCHAR(30)
,@TURNO NVARCHAR(2)
,@SALARIO INT
AS
DECLARE @HOSPITAL2 INT
DECLARE @SALA2 INT
DECLARE @EMPLEADO2 INT
DECLARE @APELLIDO2 NVARCHAR(30)
DECLARE @FUNCION2 NVARCHAR(30)
DECLARE @TURNO2 NVARCHAR(2)
SELECT @EMPLEADO2 = EMPLEADO_NO FROM PLANTILLA
WHERE EMPLEADO_NO = @EMPLEADO
IF (@EMPLEADO2 IS NULL)
BEGIN
SELECT @SALA2 = SALA_COD FROM SALA
WHERE NOMBRE = @SALA
SELECT @HOSPITAL2 = HOSPITAL_COD FROM HOSPITAL
WHERE NOMBRE = @HOSPITAL
IF (@SALA2 IS NULL OR @HOSPITAL2 IS NULL)
BEGIN
PRINT 'LA SALA O EL HOSPITAL INTRODUCIDO NO ESTÁN EN LOS
DATOS:'
PRINT 'SALA: ' + @SALA
PRINT 'HOSPITAL: ' + @HOSPITAL
PRINT ''

PRINT 'NO SE HA REALIZADO LA INSERCIÓN'
END
ELSE
BEGIN
SELECT @FUNCION2 = FUNCION FROM PLANTILLA
WHERE FUNCION = @FUNCION
SELECT @TURNO2 = @TURNO2 FROM PLANTILLA
WHERE TURNO = @TURNO
IF (@FUNCION2 IS NULL OR @TURNO2 IS NULL)
BEGIN
PRINT 'LA FUNCIÓN O EL TURNO INTRODUCIDOS NO SON
VÁLIDOS'
PRINT 'FUNCION: ' + @FUNCION
PRINT 'TURNO: ' + @TURNO
PRINT ''
PRINT 'NO SE HA REALIZADO LA INSERCIÓN'
END
ELSE
BEGIN
IF (@SALARIO > 500000)
BEGIN
PRINT 'EL SALARIO MÁXIMO PARA LOS TRABAJADORES
DE LA PLANTILLA ES DE 500.000 PTAS'
PRINT 'NO SE HA REALIZADO LA INSERCIÓN'
END
ELSE
BEGIN
INSERT INTO PLANTILLA(Hospital_Cod,Sala_Cod,Empleado_No,Apellido,Funcion,TURNO,Salario)
VALUES (@HOSPITAL2, @SALA2, @EMPLEADO
, @APELLIDO, @FUNCION, @TURNO, @SALARIO)
PRINT 'INSERCIÓN REALIZADA CORRECTAMENTE'
END
END
END
END
ELSE
BEGIN
PRINT 'EL NÚMERO DE EMPLEADO INTRODUCIDO ESTÁ REPETIDO: ' +
CAST(@EMPLEADO AS NVARCHAR(4))
PRINT 'NO SE HA REALIZADO LA INSERCIÓN'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_ESTADIO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_ESTADIO] 
@ID_ESTADIO INT
AS 
DELETE FROM ESTADIO
WHERE ID_ESTADIO =@ID_ESTADIO
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_GOL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_GOL]
@ID_GOL INT 
AS
DELETE FROM GOL
WHERE ID_GOL=@ID_GOL
GO
/****** Object:  StoredProcedure [dbo].[SP_EXA_EJER_10]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< 10. Realizar una reporte dinámico que filtre un rango de fechas de los jugadores adicional
--debe contener una columna extra con la edad , si es menor de edad debe decir “No cumples los requisitos ”.>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EXA_EJER_10]

 @EDAD INT


AS
BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT * FROM JUGADOR
IF(@EDAD=18)
BEGIN

PRINT 'TIENES 18'

END

ELSE IF(@EDAD=17)
BEGIN

 PRINT 'NO ERES MAYOR'

END

ELSE
BEGIN
PRINT 'NO EXISTE ESE VALOR'

END
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_EXAMEN_EJER_6]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Actualice el nombre de todos los jugadores de la tabla por su nombre>
-- =============================================
--SELECT * FROM JUGADOR

CREATE PROCEDURE [dbo].[SP_EXAMEN_EJER_6]

@NOMBRE_JUGADOR VARCHAR,
@COD_INSCRIPCION VARCHAR(25),
@APELLIDO1 VARCHAR(25),
@APELLIDO2 VARCHAR(25),
@VALOR_PASE INT ,
@EQUIPO_ID INT  ,
@NACIONALIDAD VARCHAR(25),
@F_NACIMIENTO DATETIME,
@POSICION VARCHAR (25)
	
AS
BEGIN

BEGIN TRY --PAN DE ARRIBA
	SET NOCOUNT ON;
	 
	 UPDATE JUGADOR set COD_INSCRIPCION=@COD_INSCRIPCION,
APELLIDO1=@APELLIDO1,APELLIDO2=@APELLIDO2,VALOR_PASE=@VALOR_PASE,
EQUIPO_ID=@EQUIPO_ID,NACIONALIDAD=@NACIONALIDAD ,
F_NACIMIENTO=@F_NACIMIENTO,POSICION=@POSICION 
	 WHERE NOMBRE=@NOMBRE_JUGADOR

    

END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP

GO
/****** Object:  StoredProcedure [dbo].[SP_EXAMEN_EJER_7]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Actualice el nombre de todos los jugadores de la tabla por su nombre>
-- =============================================
--SELECT * FROM JUGADOR

CREATE PROCEDURE [dbo].[SP_EXAMEN_EJER_7]

@ID_ESTADIO INT


	
AS
BEGIN

BEGIN TRY --PAN DE ARRIBA
	SET NOCOUNT ON;
	 
DELETE FROM ESTADIO
WHERE ESTADIO_ID =@ID_ESTADIO

    

END TRY -- PAN DE ABAJO


BEGIN CATCH  
select
ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ERROR_ESTADO,
ERROR_SEVERITY() AS SEVERIDAD_ERROR,
ERROR_PROCEDURE () AS ERROR_SP,
ERROR_LINE () AS LINEA_DEL_ERROR,
ERROR_MESSAGE() AS MENSAJE_DE_ERROR

END CATCH


END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_GOL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GOL]
@MINUTO TIME (7),
@COD_JUGADOR VARCHAR (50),
@COD_PARTIDO VARCHAR (50),
@DESCRIPCION TEXT
AS 
INSERT INTO GOL
(MINUTO,COD_JUGADOR,COD_PARTIDO,DESCRIPCION)VALUES 
(@MINUTO,@COD_JUGADOR,@COD_PARTIDO,@DESCRIPCION)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CARGA_FAMI]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_INSERT_CARGA_FAMI]
	
	@EMP_RUT INT,
	@NOMBRE_CARGA VARCHAR(50),
	@SEXO VARCHAR(25),
	@FECHA_NAC DATETIME,
	@PARENTEZCO VARCHAR(25)
	AS
INSERT INTO CARGA_FAMI
	(EMP_RUT,NOMBRE_CARGA,SEXO,FECHA_NAC,PARENTEZCO)
VALUES
	(@EMP_RUT,@NOMBRE_CARGA,@SEXO,@FECHA_NAC,@PARENTEZCO)
	
	
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DEP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_DEP] 
@ID_PROYEC INT,
@NOMBRE_DEP VARCHAR (70),
@RUD_GERENTE INT,
@GERENTE_F_INIC INT
AS
INSERT INTO DEPARTAMENTO
(ID_PROYEC,NOMBRE_DEP,RUD_GERENTE,GERENTE_F_INIC )VALUES
(@ID_PROYEC,@NOMBRE_DEP,@RUD_GERENTE,@GERENTE_F_INIC)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DEPARTAMENTO1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_INSERT_DEPARTAMENTO1]
	
	@NOMBRE VARCHAR (50),
	@RUT_GERENTE VARCHAR(50),
	@GERENTE_F_INIC INT
	AS
INSERT INTO DEPARTAMENTO

	(NOMBRE,RUT_GERENTE,GERENTE_F_INIC)
VALUES
	(@NOMBRE,@RUT_GERENTE,@GERENTE_F_INIC)

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DEPT]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA DEPT>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_DEPT]
@DNOMBRE VARCHAR (25),
@LOC VARCHAR (25)


	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO DEPT(DNOMBRE,LOC )
    VALUES               (@DNOMBRE,@LOC )
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DEPT1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------TABLA dept------------------------------------
CREATE PROCEDURE  [dbo].[SP_INSERT_DEPT1]  --CREACION Y NOMBRE DEL PROCEDIMIENTO
--VARIABLES DE CAMBIO
@DNOMBRE VARCHAR,
@LOC    VARCHAR
AS
BEGIN 
   BEGIN TRY --CONTROL DE ERRORES EN LA PARTE LOGICA
   --INSERCION DE REGIDTROS PARA LA TABLA PROYETO
   INSERT INTO  DEPT                   ---NOMBRE DE LA TABLA DONDE VAN LOS REGISTROS
   (DNOMBRE,LOC)           ---NOMBRED DE LOS CAMPOS
   VALUES(@DNOMBRE,@LOC)--NOMBRED DE LAS VARIABLES QUE LLEVAN LSO PARAMETROS DE INSERCCION 

   END TRY --FINAL DE TRY

   BEGIN CATCH  --CONTROL DE ERORES TRY Y SUS FUNCIONES DE MUESTRAS OARA LOS ERRORES
    SELECT ERROR_NUMBER(),     --devuelve el número de error.  
	       ERROR_MESSAGE(),    --devuelve el mensaje de error.
		   ERROR_LINE(),       --devuelve el número de línea en el que se ha producido el error.
		   ERROR_PROCEDURE(),  -- devuelve el nombre del procedimiento almacenado que ha provocado el error.
		   GETDATE(),           --fecha y hora en que se produjo el error
		   ERROR_SEVERITY(),    --devuelve la severidad del error.
		   ERROR_STATE()       -- devuelve el estado del error.
   END CATCH


END



GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DOCTOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA DOCTOR>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_DOCTOR]
@HOSPITAL_COD INT ,
@NOMBRE VARCHAR(25),
@APELLIDO VARCHAR (25),
@ESPECIALIDAD VARCHAR (25)


	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO DOCTOR(HOSPITAL_COD,NOMBRE,APELLIDO,ESPECIALIDAD)
    VALUES          (@HOSPITAL_COD,@NOMBRE,@APELLIDO,@ESPECIALIDAD)
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_EMP]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA EMP>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_EMP]
@NOMBRE VARCHAR (25),
@APELLIDO VARCHAR (25),
@DIRECCION VARCHAR(25),
@FECHA_ALT DATETIME,
@SALARIO INT,
@COMISION INT,
@DEPT_NO INT
	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO EMP(NOMBRE,APELLIDO ,DIRECCION ,FECHA_ALT ,SALARIO ,COMISION ,DEPT_NO) 
	VALUES(@NOMBRE,@APELLIDO ,@DIRECCION ,@FECHA_ALT ,@SALARIO ,@COMISION ,@DEPT_NO )
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_EMPLEADO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_EMPLEADO]
	@ID_PROYEC INT,
	@NOMBRE VARCHAR (50),
	@PRI_APELLIDO VARCHAR (50),
	@SEG_APELLIDO VARCHAR (50),
	@FECHA_NACIMIENTO DATE,
	@DIRECCION VARCHAR (70),
	@SEXO BIT,
	@SUELDO MONEY,
	@RUT_SUPERVISOR INT,
	@NUM_DEP INT 
	AS
INSERT INTO EMPLEADO

	(ID_PROYEC,
	NOMBRE,
	PRI_APELLIDO,
	SEG_APELLIDO,
	FECHA_NACIMIENTO,
	DIRECCION,
	SEXO,
	SUELDO,
	RUT_SUPERVISOR,
	NUM_DEP
)
VALUES
	(@ID_PROYEC,
	@NOMBRE,
	@PRI_APELLIDO,
	@SEG_APELLIDO,
	@FECHA_NACIMIENTO,
	@DIRECCION,
	@SEXO,
	@SUELDO,
	@RUT_SUPERVISOR,
	@NUM_DEP
)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_EMPLEADO1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_INSERT_EMPLEADO1]
	
	@NOMBRE VARCHAR (50),
	@PR_APELLIDO VARCHAR (50),
	@SEG_APELLIDO VARCHAR (50),
	@FECHA_NACIMIENTO DATETIME,
	@DIRECCION VARCHAR (25),
	@SEXO VARCHAR (10),
	@SUELDO INT,
	@RUT_SUPERVISOR VARCHAR(25),
	@DEPTO_NUM INT 
	AS
INSERT INTO EMPLEADO

	(NOMBRE,PR_APELLIDO,SEG_APELLIDO,FECHA_NACIMIENTO,DIRECCION,SEXO,SUELDO,RUT_SUPERVISOR,DEPTO_NUM)
VALUES
	(@NOMBRE,@PR_APELLIDO,@SEG_APELLIDO,@FECHA_NACIMIENTO,@DIRECCION,@SEXO,@SUELDO,@RUT_SUPERVISOR,@DEPTO_NUM)

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_ENFERMO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA ENFERMO>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_ENFERMO]
@INSCRIPCION INT ,
@NOMBRE VARCHAR(25),
@APELLIDO VARCHAR (25),
@DIRECCION VARCHAR (25),
@SEXO VARCHAR (25),
@NSS INT,
@DEPT_NO INT

	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO ENFERMO(INSCRIPCION ,NOMBRE,APELLIDO,DIRECCION,SEXO,NSS,DEPT_NO )
    VALUES          (@INSCRIPCION,@NOMBRE,@APELLIDO,@DIRECCION,@SEXO,@NSS,@DEPT_NO)
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_EQUIPO_1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< Crear un SP para inserción de registros de la tabla Estadio>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_EQUIPO_1]
@NOMBRE VARCHAR(25),
@ESTADIO_ID INT,
@F_FUNDACION INT,
@DIRECCION VARCHAR(25),
@INDUMENTARIA_OFICIAL VARCHAR(25),
@INDUMENTARIA_ALTERNATIVA VARCHAR(25),
@PRESIDENTE VARCHAR(25)
AS

BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO EQUIPO
(NOMBRE,ESTADIO_ID,F_FUNDACION,DIRECCION,INDUMENTARIA_OFICIAL,INDUMENTARIA_ALTERNATIVA,PRESIDENTE)VALUES 
(@NOMBRE,@ESTADIO_ID,@F_FUNDACION,@DIRECCION,@INDUMENTARIA_OFICIAL,@INDUMENTARIA_ALTERNATIVA,@PRESIDENTE)
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_ESTADIO_1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< Crear un SP para inserción de registros de la tabla Estadio>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_ESTADIO_1]
@NOMBRE VARCHAR(25),
@DIRECCION VARCHAR (25),
@COMUNA  VARCHAR (25),
@AFORO INT 
AS

BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO ESTADIO
(NOMBRE,DIRECCION,COMUNA,AFORO)VALUES 
(@NOMBRE,@DIRECCION,@COMUNA,@AFORO)
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_FAMILIA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[SP_INSERT_FAMILIA]
	@RUD_EMP INT,
	@NOMBRE_CARGA VARCHAR (50),
	@SEXO BIT,
	@FECHA_NAC DATE,
	@PARENTEZCO VARCHAR (40)
	AS
INSERT INTO CARGA_FAMILIA
	(RUD_EMP,
	NOMBRE_CARGA,
	SEXO,
	FECHA_NAC,
	PARENTEZCO)

VALUES
	(@RUD_EMP,
	@NOMBRE_CARGA,
	@SEXO,
	@FECHA_NAC,
	@PARENTEZCO)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_GOL_1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< Crear un SP para inserción de registros de la tabla GOL>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_GOL_1]


@MINUTO VARCHAR(25) ,
@COD_JUGADOR INT ,
@COD_PARTIDO INT ,
@DESCRIPCION VARCHAR(25)


AS

BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO GOL
(MINUTO,COD_JUGADOR,COD_PARTIDO,DESCRIPCION)VALUES 
(@MINUTO,@COD_JUGADOR,@COD_PARTIDO ,@DESCRIPCION  )
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_HOSPITAL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA HOSPITAL>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_HOSPITAL]
@NOMBRE VARCHAR (25),
@DIRECCION VARCHAR(25),
@TELEFONO INT,
@NUM_CAMA INT

	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO HOSPITAL(NOMBRE,DIRECCION,TELEFONO,NUM_CAMA) 
	VALUES(@NOMBRE,@DIRECCION ,@TELEFONO,@NUM_CAMA )
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_JUEGO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_JUEGO]
@ID_PARTIDO INT,
@ESTADIO VARCHAR (50)
AS 
INSERT INTO SE_JUEGA_EN
(ID_PARTIDO,ESTADIO)VALUES 
(@ID_PARTIDO,@ESTADIO)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_JUGADOR]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_JUGADOR]
@DOD_INSCRIPCION INT,
@NOMBRE VARCHAR (50),
@PRI_APELLIDO VARCHAR (50),
@SEG_APELLIDO VARCHAR (50),
@VALOR_PASE INT,
@EQUIPO VARCHAR (30),
@NACIONALIDAD VARCHAR (50),
@F_NACIMIENTO DATE,
@POSICION VARCHAR (30)
AS 
INSERT INTO JUGADOR 
(DOD_INSCRIPCION,NOMBRE,PRI_APELLIDO,SEG_APELLIDO,VALOR_PASE,EQUIPO,NACIONALIDAD,F_NACIMIENTO,POSICION) VALUES 
(@DOD_INSCRIPCION,@NOMBRE,@PRI_APELLIDO,@SEG_APELLIDO,@VALOR_PASE,@EQUIPO,@NACIONALIDAD,@F_NACIMIENTO,@POSICION)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PARTIDO_1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< Crear un SP para inserción de registros de la tabla Estadio>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_PARTIDO_1]

@FECHA  DATETIME  ,
@ASISTENACIA VARCHAR (25),
@ARBITRO VARCHAR (25) ,
@GUARDALINEA1 VARCHAR (25),
@GUARDALINEA2 VARCHAR (25),
@ARBITRO_ASISTENTE VARCHAR(25),
@GOLES_LOCAL INT,
@GOLES_VISITA INT

AS

BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO PARTIDO
(FECHA,ASISTENACIA,ARBITRO,GUARDALINEA1,GUARDALINEA2,ARBITRO_ASISTENTE,GOLES_LOCAL,GOLES_VISITA)VALUES 
(@FECHA,@ASISTENACIA ,@ARBITRO ,@GUARDALINEA1,@GUARDALINEA2,@ARBITRO_ASISTENTE,@GOLES_LOCAL ,@GOLES_VISITA  )
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PLANTILLA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA PLANTILLA>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_PLANTILLA]
@HOSPITAL_COD INT,
@SALA_COD INT,
@EMPLEADO_NO INT,
@NOMBRE VARCHAR (25),
@APELLIDO VARCHAR(25),
@FUNCION VARCHAR(25),
@TURNO VARCHAR(25),
@SALARIO INT

	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO PLANTILLA(HOSPITAL_COD,SALA_COD,EMPLEADO_NO ,NOMBRE ,APELLIDO ,FUNCION ,TURNO,SALARIO )
    VALUES               (@HOSPITAL_COD,@SALA_COD,@EMPLEADO_NO,@NOMBRE,@APELLIDO ,@FUNCION ,@TURNO,@SALARIO )
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PROYECTO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[SP_INSERT_PROYECTO]
	@NOMBRE VARCHAR (50),
	@UBICACION VARCHAR (50), 
	@NUM_DEP INT 
AS
INSERT INTO PROYECTO 
	(NOMBRE,
	UBICACION, 
	NUM_DEP)
VALUES
	(@NOMBRE ,
	@UBICACION , 
	@NUM_DEP)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PROYECTO1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_INSERT_PROYECTO1]
	
	@NOMBRE VARCHAR (50),
	@UBICACION VARCHAR(50),
	@DEPTO_NUM INT
	AS
INSERT INTO PROYECTO

	(NOMBRE,UBICACION,DEPTO_NUM)
VALUES
	(@NOMBRE,@UBICACION,@DEPTO_NUM)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SALA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, William RODRIGUEZ
-- Create date: <Create Date,4/9/2021>
-- Description:	<Description,SP INSERT TABLA SALA>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_SALA]
@HOSPITAL_COD INT,
@NOMBRE VARCHAR (25),
@NUM_CAMA VARCHAR (25)

	
AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT INTO SALA(HOSPITAL_COD,NOMBRE ,NUM_CAMA )
    VALUES               (@HOSPITAL_COD,@NOMBRE,@NUM_CAMA )
	                
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SE_JUEGA_EN_1]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< Crear un SP para inserción de registros de la tabla Estadio>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_SE_JUEGA_EN_1]
@EQUIPO_ID INT,
@COD_PARTIDO INT,
@ESTADIO_ID INT
AS

BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO SE_JUEGA_EN
(EQUIPO_ID,COD_PARTIDO,ESTADIO_ID)VALUES 
(@EQUIPO_ID,@COD_PARTIDO,@ESTADIO_ID )
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_TRABAJA]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_TRABAJA]
    @RUT_EMPLEADO INT,
	@ID_PROYEC INT,
	@PROYECTO_NUM INT,
	@HORAS TIME 
	AS
INSERT INTO TRABAJA_EN
	(RUT_EMPLEADO,ID_PROYEC,PROYECTO_NUM,HORAS)
VALUES
	(@RUT_EMPLEADO,@ID_PROYEC,@PROYECTO_NUM,@HORAS)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_TRABAJA_EN]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_INSERT_TRABAJA_EN]
	
	@EMP_RUT INT,
	@PROYECT_NUM INT,
	@HORAS INT
	AS
INSERT INTO TRABAJA_EN

	(EMP_RUT,PROYECT_NUM,HORAS)
VALUES
	(@EMP_RUT,@PROYECT_NUM,@HORAS)

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_UBICACION_DEPARTAMENTO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_INSERT_UBICACION_DEPARTAMENTO]
	
	@DEPTO_NUM INT,
	@UBICACION VARCHAR(50)
	AS
INSERT INTO UBICACIONES_DEPARTAMENTO

	(DEPTO_NUM,UBICACION)
VALUES
	(@DEPTO_NUM,@DEPTO_NUM)
	
	
GO
/****** Object:  StoredProcedure [dbo].[SP_PREGUNTA2_EXAMEN]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, WILLIAM RODRIGUEZ>
-- Create date: <FECHA 15/09/2021>
-- Description:	< Crear un SP para inserción de registros de la tabla jugador>
-- =============================================
CREATE PROCEDURE [dbo].[SP_PREGUNTA2_EXAMEN]

@COD_INSCRIPCION VARCHAR(25),
@NOMBRE VARCHAR (25),
@APELLIDO1 VARCHAR(25),
@APELLIDO2 VARCHAR(25),
@VALOR_PASE INT ,
@EQUIPO_ID INT   ,
@NACIONALIDAD VARCHAR(25),
@F_NACIMIENTO DATETIME,
@POSICION VARCHAR (25)
AS

BEGIN
BEGIN TRY --PAN DE ARRIBA

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO JUGADOR
(COD_INSCRIPCION,NOMBRE,APELLIDO1,APELLIDO2,VALOR_PASE,EQUIPO_ID,NACIONALIDAD,F_NACIMIENTO,POSICION)VALUES 
(@COD_INSCRIPCION,@NOMBRE,@APELLIDO1,@APELLIDO2,@VALOR_PASE,@EQUIPO_ID,@NACIONALIDAD,@F_NACIMIENTO,@POSICION )
  
END TRY -- PAN DE ABAJO


BEGIN CATCH
SELECT 

ERROR_NUMBER() AS ERROR_NUMERO,
ERROR_STATE() AS ESTADO_DEL_ERROR,
ERROR_SEVERITY ()AS SEVERIDAD,
ERROR_PROCEDURE ()AS ERROR_SP,
 ERROR_LINE () AS LINEA_DEL_ERROR,
 ERROR_MESSAGE() AS MENSAJE_ERROR

END CATCH
END --FINALIZA EL SP

GO
/****** Object:  StoredProcedure [dbo].[SP_SELEC_GOL]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELEC_GOL]
@ID_GOL INT
AS 
SELECT * FROM GOL 
WHERE ID_GOL=@ID_GOL
GO
/****** Object:  StoredProcedure [dbo].[SP_SELEC_JUEGO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELEC_JUEGO]
@ID_EQUIPO INT 
AS 
SELECT * FROM SE_JUEGA_EN
WHERE 
ID_EQUIPO = @ID_EQUIPO
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_ESTADIO]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_ESTADIO] 
@ID_ESTADIO INT 
AS
SELECT * FROM ESTADIO 
WHERE ID_ESTADIO =@ID_ESTADIO
GO
/****** Object:  StoredProcedure [dbo].[SP_UBICACION]    Script Date: 09/25/2021 8:48:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_UBICACION]
	@UBICACION VARCHAR (50)
	AS
INSERT INTO UBICACION_DEP
	(UBICACION)

VALUES
	(@UBICACION)
GO
